.vscode/
.DS_Store
node_modules
npm-debug.log
./components
logfile.txt
.nyc_output/
coverage/
./src/helpers/globals.ts
**/tsconfig.tsbuildinfo
./experiments
./my-app
./.builda
.env.local
.next
module.tgz
