# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
src/mocks

# next.js
/out/

# misc
.DS_Store
.babelrc
.travis.yml
tsconfig.json
next-env.d.ts
next.config.js
jest.config.js
*.yml
.github/
*.yaml


# Build and example folders
dist/
example/


